{% extends "base.html" %}

{% block content %}    
  <div class="row">
    <div class="col-sm-12">
      <span class="h2">{{category.name}} Items</span>
      {% if usersCategory %}
        <span>
          <a href={{ url_for('category_api.editCategory', category_id=category.id) }} >edit</a>
          <a href={{ url_for('category_api.deleteCategory', category_id=category.id) }} >delete</a>
        </span>
        <p><a href={{ url_for('items_api.newItem', category_id=category.id) }} >new item</a></p>
      {% endif %}
    </div>
  </div>
  {% for item_row in items | batch(2) %}
  <section class="row">
    {% for item in item_row %}  
      <article class="col-sm-6">
        <div class="img-thumbnail">
          {% set img_url = url_for('static', filename = item.img_url) %}
          <img class="img-responsive center-block" src="{{img_url}}" alt="{{item.name}}">
        </div>
        <h3 class="text-center"><a href="{{ url_for('items_api.viewItem', category_id=item.category.id, item_id=item.id) }}">{{item.name}}</a></h3>
      </article>
    {% endfor %}
  </section>
  {% endfor %}
{% endblock %}

