{% extends "base.html" %}

{% block content %}
  <article class="delete-item">
    <div class="row">
      <div class="col-sm-12">
        <h2>Delete Item</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <p>Are you sure you want to delete {{item.category.name}}--&gt{{item.name}}?</p>
      </div>
    </div>
    <form method="post">
      <input type="submit" class="btn btn-warning" name="submit" value="Delete Item">
      <p class="btn btn-secondary"><a href={{ url_for('items_api.viewItem', category_id=item.category.id, item_id=item.id) }}>Cancel</a></p>
    </form>
  </article>
{% endblock %}

