{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}

{% block content %}
  <article class="edit-category">
    <div class="row">
      <div class="col-sm-12">
        <h2>Edit Category</h2>
      </div>
    </div>
    <form method="post">
      <div class="form-group row">
        <label for="name" class="col-sm-3 col-form-label">Name</label>
        <div class="col-sm-9">
          {{ render_field(form.name) }}          
        </div>
      </div>
      <input type="submit" class="btn btn-primary" name="submit" value="Edit Category">
      <p class="btn btn-secondary"><a href={{ url_for('category_api.ListItems', category_id=category.id) }}>Cancel</a></p>
    </form>
  </article>
{% endblock %}

