{% extends "base.html" %}

{% block content %}    
  <section class="row">
    <article class="col-sm-12">
        <h2>Latest Items</h2>
    </article>
  </section>
  <section class="row">
    <article class="col-sm-12">
      <table class="table">
        <thead>
          <tr>
            <th>Item</th>
            <th>Category</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          {% for item in latest_items %}  
          <tr>
        <td><a href="{{ url_for('items_api.viewItem', category_id=item.category.id, item_id=item.id)  }}">{{item.name}}</a></td>
            <td>{{item.category.name}}</td>
            <td>{{item.description}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </article>
  </section>
{% endblock %}

