{% extends "base.html" %}

{% block content %}    
  <div class="row">
    <div class="col-sm-12">
      <span class="h2">Item: {{item.name}}</span>
      {% if usersItem %}
      <span>
        <a href={{ url_for('items_api.editItem', category_id=item.category.id, item_id=item.id)  }} >edit</a>
        <a href={{ url_for('items_api.deleteItem', category_id=item.category.id, item_id=item.id)  }} >delete</a>
      </span>
      {% endif %}
    </div>
  </div>
  <section class="row">
      <article class="col-sm-12">
        <div class="work-image">
          {% set img_url = url_for('static', filename = item.img_url) %}
          <img class="img-responsive center-block" src="{{img_url}}" alt="{{item.name}}">
        </div>
      </article>
  </section>
  <section class="row">
      <article class="col-sm-12">
        <h3>Description:</h3>
      </article>
  </section>
  <section class="row">
      <article class="col-sm-12">
        <h4>{{item.description}}</h4>
      </article>
  </section>
{% endblock %}

